# Given the following 3x3 network:
#        0 1 2
#        3 4 5
#        6 7 8
# Compute nodes: 
#     Regular Clock: 0, 4, 8
#     Slow Clock:    2, 6
# Memory nodes: 
#     Configured to DRAM model: 1, 3, 5, 7
#
# Uniform injection of read and write packets for
#    (0,2,4,6,8) -> (1,3,5,7)
#
# Network simulated in Booksim

-topology_type mesh 3 3
-traffic_pattern tp0 uniform 

# Connect with booksim
-booksim_enable 1
-booksim_config_file ex2_mesh33.booksim

# Uniform Injection of 0.1 packet/cycle
-traffic_inj_process inj_unifm uniform 0.1

# Burst Injection with period of 10 cycles, duty cycle of 0.2.
# start with injection rate of 0 packet/cycle to 0.2 packet/cycle
-traffic_inj_process inj_burst burst 10 0.2 low 0 0.2

# Gaussian injection with period of 10 cycles. 
# Starting from cycle 0, mean of 0.2 and std. dev of 0.5
-traffic_inj_process inj_gauss gaussian 10 0 0.2 0.5
# OnOff injection. Prob(Off) = 0.2, Prob(On) = 0.4.
# Injection rate when On is 0.3, and initial state is On.
-traffic_inj_process inj_onoff onoff 0.2 0.4 0.3 all_on

# Senders are called "compute". Nodes: 0, 2, 4, 6, 8
-traffic_senders compute { 0 2 4 6 8 }
# Receivers are called "memory". Nodes: 1, 3, 5, 7
-traffic_receivers memory { 1 3 5 7 }

# Packet named "write" of size 64, weight 1.0. No reply.
-packet_type write 64 1.0 0
# Packet named "read_rqst" of size 8, weight 2.0. Reply packet named "read_reply"
-packet_type read_rqst 8 2.0 1 read_reply

# Reply packet named "read_reply", type dram and size 64.
-packet_type_reply read_reply dram 64 

# Node group "mesh66" with injection "inj_unifm", senders "compute", receivers "memory".
# Packets are "write" and "read_rqst"
-node_group mesh66 inj_unifm tp0 compute memory < write read_rqst >

# Nodes 2 and 6 operate at half the clock speed.
-node_config slow_clk clock 2 { 2 6 }

# Dram configuration "dram0" with 4 banks and service rate of 0.1, arrival rate of 0.5
# Configure "dram0" with clock of 4, timing of 2:2:2:2 and probabilities 0.5:0.5:0.5
# Configure nodes 1, 3, 5, 7 as drams.
-dram_bank_config dram0 4 0.1 0.5
-dram_timing_config dram0 4 2 2 2 2 0.5 0.5 0.5
-node_config dram_mem dram dram0 { 1 3 5 7 }

-simclk_step 1 
-simclk_end 100
-wait_for_replies 

