# Given the following 4x4 network:
#         0  1  2  3
#         4  5  6  7
#         8  9 10 11
#        12 13 14 15
#
# compute nodes are 0,1,2,3,4,7,8,11,12,13,14,15
# memory nodes are  5,6,9,10
# 
# Nodes only communicate in the following manner:
#   Group 1:     0, 1, 4  <->  5      read, write packets
#   Group 2:     2, 3, 7  <->  6      read, write packets
#   Group 3:     8,12,13  <->  9      read, write packets
#   Group 4:    11,14,15  <-> 10      read, write packets
# Memory nodes also communicates among themselves.
#
# Each group has different clocks, with group 1 having the 
# fastest clock.
#
-topology_type mesh 4 4
-traffic_pattern tp0 uniform 

# Connect with booksim
-booksim_enable 1
-booksim_config_file ex3_mesh44_groups.booksim

# Injection processes
-traffic_inj_process inj_unifm uniform 0.05
-traffic_inj_process inj_onoff onoff 0.3 0.7 0.8 all_off

# Packets
-packet_type write 64 1.0 0
-packet_type read_rqst 8 2.0 1 read_reply
-packet_type_reply read_reply fixed 64 2

-packet_type mem_comm 64 1.0 1 mem_comm_reply
-packet_type_reply mem_comm_reply fixed 8 5

# Group 1 - Default Clock
-traffic_senders compute_1 { 0 1 4 }
-traffic_receivers memory_1 { 5 }
-node_group group_1 inj_unifm tp0 compute_1 memory_1 < write read_rqst >

# Group 2 - 1/2 clock
-traffic_senders compute_2 { 2 3 7 }
-traffic_receivers memory_2 { 6 }
-node_config slow_clk clock 2 { 2 3 7 }
-node_group group_2 inj_unifm tp0 compute_2 memory_2 < write read_rqst >

# Group 3 - 1/3 clock
-traffic_senders compute_3 { 8 12 13 }
-traffic_receivers memory_3 { 9 }
-node_config slow_clk clock 3 { 8 12 13 }
-node_group group_3 inj_unifm tp0 compute_3 memory_3 < write read_rqst >

# Group 4 - 1/4 clock
-traffic_senders compute_4 { 11 14 15 }
-traffic_receivers memory_4 { 10 }
-node_config slow_clk clock 4 { 11 14 15 }
-node_group group_4 inj_unifm tp0 compute_4 memory_4 < write read_rqst >

# Memory Group Communication
-traffic_senders memory_all { 5 6 9 10 }
-traffic_receivers memory_all { 5 6 9 10 }
-node_config slow_clk clock 4 { 5 6 9 10 }
-node_group group_m inj_onoff tp0 memory_all memory_all < mem_comm >

# Simultaion Parameters
-simclk_step 1 
-simclk_end 100
-wait_for_replies 

