# Given the following 3x3 network:
#        0 1 2
#        3 4 5
#        6 7 8
# The injection is as follows:
#    uniform fixed injection of read and write packets from
#             (0,2,4,6,8) -> (1,3,5,7)
# The read packets generate a reply after a fixed 5 cycles.

# Declare a 3x3 mesh topology.
#  Syntax: -topology_type mesh [x_dim] [y_dim
-topology_type mesh 3 3

# Declare a uniform traffic pattern (don't change this)
#  Syntax: -traffic_pattern [name] uniform
-traffic_pattern tp0 uniform 

# Declare a uniform injection process of 0.02 packets per cycle.
#  Syntax: -traffic_inj_process [name] uniform [inj_rate]
-traffic_inj_process inj_unifm uniform 0.02

# Specify sender nodes: 0, 2, 6, 8
#  Syntax: -traffic_senders [name] { [node_idx] }
-traffic_senders send_nodes { 0 2 6 8 }

# Specify receiver nodes: 1, 3, 5, 7
#  Syntax: -traffic_receivers [name] { [node_idx] }
-traffic_receivers recv_nodes { 1 3 5 7 }

# Specify a write packet of size 64, with weight 1.0, and does
# not generate a reply.
#  Syntax: -packet_type [name] [size] [weight] [reply?]
-packet_type write 64 1.0 0

# Specify a read request packet of size 8, weight 2.0, with
# the reply packet being read_reply.
#  Syntax: -packet_type [name] [size] [weight] [reply?] [reply_name]
-packet_type read_rqst 8 2.0 1 read_reply

# Specify a read_reply packet that responds to the request packet
# after a fixed 5 cycles.
#  Syntax: -packet_type_reply [name] fixed [size] [delay]
-packet_type_reply read_reply fixed 64 5

# Declare the node group with the sender, receiver, uniform injection
# process, and read and write packets.
#  Syntax: -node_group [name] [inj_name] [traffic_pattern] [senders] [receivers] < [packets] >
-node_group grp_uniform inj_unifm tp0 send_nodes recv_nodes < read_rqst write >

# Simulation step size is 1
#  Syntax: -simclk_step [step_size]
-simclk_step 1 

# Simulation terminates after 100 cycles.
#  Syntax: -simclk_end [end_cycle]
-simclk_end 100

# Simulation doesn't immediately finish until all outstanding reply
# requests have been processed.
-wait_for_replies 

