# Given the following 4x4 network:
#         0  1  2  3  4  5  6  7
#         8  9 10 11 12 13 14 15
#        16 17 18 19 20 21 22 23
#        24 25 26 27 28 29 30 31
#        32 33 34 35 36 37 38 39
#        40 41 42 43 44 45 46 47
#        48 49 50 51 52 53 54 55
#        56 57 58 59 60 61 62 63
#
# 
# We declare these nodes to be frequently communicating pairs:
#   Pair 0 : ( 8,15)     Pair  6 : ( 1,57)     Pair 12 : ( 0,63)
#   Pair 1 : (16,23)     Pair  7 : ( 2,58)     Pair 13 : ( 7,56)
#   Pair 2 : (24,31)     Pair  8 : ( 3,59)
#   Pair 3 : (32,39)     Pair  9 : ( 4,60)
#   Pair 4 : (40,47)     Pair 10 : ( 5,61)
#   Pair 5 : (48,55)     Pair 11 : ( 6,62)
#
-topology_type mesh 8 8
-traffic_pattern tp0 uniform 

-traffic_inj_process inj_unifm uniform 0.005
-traffic_inj_process inj_burst burst 5000 0.2 low 0 0.05

# Booksim configuration
-booksim_enable 1
-booksim_config_file mesh88_dor.booksim.config

# Packets
-packet_type write 64 1.0 0
-packet_type read_rqst 8 2.0 1 read_reply
-packet_type_reply read_reply fixed 64 16

# Regular state
-traffic_senders all { ALL }
-traffic_receivers all { ALL }
-node_group regular_state inj_unifm tp0 all all < write read_rqst >

# Pair 0
-traffic_senders pair_0 { 8 15 }
-traffic_receivers pair_0 { 8 15 }
-node_group pair_0 inj_burst tp0 pair_0 pair_0 < write read_rqst >

# Pair 1
-traffic_senders pair_1 { 16 23 }
-traffic_receivers pair_1 { 16 23 }
-node_group pair_1 inj_burst tp0 pair_1 pair_1 < write read_rqst >

# Pair 2
-traffic_senders pair_2 { 24 31 }
-traffic_receivers pair_2 { 24 31 }
-node_group pair_2 inj_burst tp0 pair_2 pair_2 < write read_rqst >

# Pair 3
-traffic_senders pair_3 { 32 39 }
-traffic_receivers pair_3 { 32 39 }
-node_group pair_3 inj_burst tp0 pair_3 pair_3 < write read_rqst >

# Pair 4
-traffic_senders pair_4 { 40 47 }
-traffic_receivers pair_4 { 40 47 }
-node_group pair_4 inj_burst tp0 pair_4 pair_4 < write read_rqst >

# Pair 5
-traffic_senders pair_5 { 48 55 }
-traffic_receivers pair_5 { 48 55 }
-node_group pair_5 inj_burst tp0 pair_5 pair_5 < write read_rqst >

# Pair 6
-traffic_senders pair_6 { 1 57 }
-traffic_receivers pair_6 { 1 57 }
-node_group pair_6 inj_burst tp0 pair_6 pair_6 < write read_rqst >

# Pair 7
-traffic_senders pair_7 { 2 58 }
-traffic_receivers pair_7 { 2 58 }
-node_group pair_7 inj_burst tp0 pair_7 pair_7 < write read_rqst >

# Pair 8
-traffic_senders pair_8 { 3 59 }
-traffic_receivers pair_8 { 3 59 }
-node_group pair_8 inj_burst tp0 pair_8 pair_8 < write read_rqst >

# Pair 9
-traffic_senders pair_9 { 4 60 }
-traffic_receivers pair_9 { 4 60 }
-node_group pair_9 inj_burst tp0 pair_9 pair_9 < write read_rqst >

# Pair 10
-traffic_senders pair_10 { 5 61 }
-traffic_receivers pair_10 { 5 61 }
-node_group pair_10 inj_burst tp0 pair_10 pair_10 < write read_rqst >

# Pair 11
-traffic_senders pair_11 { 6 62 }
-traffic_receivers pair_11 { 6 62 }
-node_group pair_11 inj_burst tp0 pair_11 pair_11 < write read_rqst >

# Pair 12
-traffic_senders pair_12 { 0 63 }
-traffic_receivers pair_12 { 0 63 }
-node_group pair_12 inj_burst tp0 pair_12 pair_12 < write read_rqst >

# Pair 13
-traffic_senders pair_13 { 7 56 }
-traffic_receivers pair_13 { 7 56 }
-node_group pair_13 inj_burst tp0 pair_13 pair_13 < write read_rqst >


# Simulation Parameters
-simclk_step 1 
-simclk_end 100000
-wait_for_replies 

